.chat-main
  .chat-main__header
    .chat-main__header__GroupName
      Test Group Name
      .chat-main__header__GroupName__MemberName
        Member: Test
    = link_to 'edit', root_path, class: ".chat-main__header__edit-btn"



  .chat-main__message メッセージ
  .chat-main__form 入力するところ