.chat-main
  .chat-main__header
    .chat-main__header__GroupName
      Test Group Name
      .chat-main__header__GroupName__MemberName
        Member: Test
    = link_to 'edit', root_path, class: ".chat-main__header__edit-btn"



  .chat-main__message
    .chat-main__message__user
      .chat-main__message__user__UserName testusername
      .chat-main__message__user__date 2020/4/26
    .chat-main__message__message hello
  .chat-main__form 入力するところ