.chat-side
  .side-bar
    .side-bar__NameBox
      .side-bar__NameBox__name
      .side-bar__NameBox__edit
        = link_to root_path do
          = icon('far', 'edit')
        = link_to root_path do
          = icon('fas', 'cog')
        
  .side-group