.chat-side
  .side-bar
    .side-bar__NameBox
      .side-bar__NameBox__name
        TestName
      %ul.side-bar__NameBox__edit
        %li.side-bar__NameBox__edit-user
          = link_to root_path do
            = icon('far', 'edit')
        %li.side-bar__NameBox__edit-gear
          = link_to root_path do
            = icon('fas', 'cog')
        
  .side-group
    .side-group__GroupName
      Test Group Name
    .side-group__GroupMessage
      Test Group Message