$flex:flex;
$usual_px:100px;
$common_px:20px;
$sometimes_px:12px;
$font_px:16px;
$common_color:#ffffff;
$side_bar_color:#253141;
$side_group_color: #2f3e51;
$message_color: #fafafa;
$form_color: #ddd;
$submit_btn_color: #38aef0;
$grey: #999999;
