* {
  box-sizing: border-box;
}

.chat-side {
  display: block;
  float: left;
  width: 300px;
  .side-bar {
    height: 100px;
    background-color: #253141;
    color:#ffffff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    &__NameBox {
      display: flex;
      height: 20px;
      width: 260px;
      margin: 0 auto;
      &__name {
        width: 200px;
      }
      &__edit {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        i {
          margin-left: 5px;
          color: #ffffff;
          font-size: 20px;
        }
      }
    }
  }
  .side-group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    color: #ffffff;
    font-weight: bold;
      &__GroupName {
        font-size: 15px;
        margin-left: 20px;
        padding-top: 20px;
      }
      &__GroupMessage {
        font-size: 11px;
        margin: 5px 20px 40px;
      }
  }
}



.chat-main {
  float: left;
  display: block;
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
  &__header {
    height: 100px;
    background-color: yellowgreen;
  }
  &__message {
    height: calc(100vh - 190px);
    background-color: skyblue;
  }
  &__form {
    height: 90px;
    background-color: green;
  }
  
}