* {
  box-sizing: border-box;
}

.chat-side {
  display: block;
  float: left;
  width: 300px;
  .side-bar {
    height: 100px;
    background-color: #253141;
    color: blue;
    display: flex;
    align-items: center;
    &__NameBox {
      display: flex;
      background-color: #d8d8d8;
      height: 20px;
      width: 260px;
      margin: 0 auto;
      &__name {
        background-color: red;
        width: 200px;
      }
      &__edit {
        background-color: blue;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        i {
          color: #ffffff;
          font-size: 20px;
        }
      }
    }
  }
  .side-group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}



.chat-main {
  float: left;
  display: block;
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
  &__bar {
    height: 100px;
    background-color: yellowgreen;
  }
  &__message {
    height: calc(100vh - 190px);
    background-color: skyblue;
  }
  &__form {
    height: 90px;
    background-color: green;
  }
  
}